{% load static tailwind_tags %}

<html>
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block main %}

    {% endblock %}
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
      })
    </script>
  </body>
</html>
